<!doctype html>
<html>
  <head>
    <title>Tasks Producer</title>
    <link href="../styles/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="container">
    <div>
      <form method="post" id="produceTasksForm" action = "/producetasks">
        <button type="submit" id="produceTasks" form="produceTasksForm">Produce Tasks</button>
      </form>
    </div>
    <div>
      <div id="Messages"></div>
       
    </div>
  </body>
</html>