<!doctype html>
<html>
  <head>
    <title>Tasks Producer</title>
    <link href="../styles/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="container">
    <h1>Stock Sheet</h1>
    <table id="stockSheet">
      <tr>
        <th scope="col">SKU</th>
        <th scope="col">Stock Status</th>
      </tr>
    </table>
    {% for SKU, Stock_status in stockStatus.items(): %}
        <script>
          var SKU = "{{SKU}}";
          var Stock_status = "{{Stock_status}}"
          document.getElementById('stockSheet').innerHTML += "<tr>" + "<td>"+ SKU + "</td>" + "<td>"+ Stock_status + "</td>" + "</tr>"
        </script>
    {% endfor %}
  </body>
</html>
