<!doctype html>
<html>
  <head>
    <title>Stock Sheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="container">
    <h1>Stock Sheet</h1>
    <div>
      <button id="consumeTasks">Check stock status</button>
      <script>
        document.getElementById("consumeTasks").onclick = function(){
          location.href = "http://localhost:5001/consumetasks";
        };
      </script>
    </div>
    <div id="stockSheet"> </div>
    {% for stock in stockInfo %}
      {% if loop.index0 is even %}
        <script>
          var SKU = "{{stock}}";
          document.getElementById("stockSheet").innerHTML += ("Product" + SKU);
        </script>
      {% elif loop.index0 is odd %}
        <script>
          var stockStatus = "{{stock}}";
          document.getElementById("stockSheet").innerHTML += ("is" + stockStatus + "<br>");
        </script>
      {% endif %}
    {% endfor %}
  </body>
</html>